.ctn{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h1 {
    text-align: center;
}

.graphics{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 10px;

}
h2{
    text-align: center;
    align-items: center;
}

@media all and (max-width:800px){
    .graphics{
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }
    
}